<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxlk.centre.mapper.PatientBloodSugerMapper" >
  <resultMap id="BaseResultMap" type="com.hxlk.centre.entity.PatientBloodSuger" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="blood_suger" property="bloodSuger" jdbcType="DOUBLE" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, blood_suger, ts, patient_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hxlk.centre.entity.PatientBloodSugerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patient_blood_suger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patient_blood_suger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from patient_blood_suger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxlk.centre.entity.PatientBloodSugerExample" >
    delete from patient_blood_suger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxlk.centre.entity.PatientBloodSuger" >
    insert into patient_blood_suger (id, blood_suger, ts, 
      patient_id)
    values (#{id,jdbcType=INTEGER}, #{bloodSuger,jdbcType=DOUBLE}, #{ts,jdbcType=TIMESTAMP}, 
      #{patientId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hxlk.centre.entity.PatientBloodSuger" >
    insert into patient_blood_suger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bloodSuger != null" >
        blood_suger,
      </if>
      <if test="ts != null" >
        ts,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bloodSuger != null" >
        #{bloodSuger,jdbcType=DOUBLE},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxlk.centre.entity.PatientBloodSugerExample" resultType="java.lang.Integer" >
    select count(*) from patient_blood_suger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update patient_blood_suger
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bloodSuger != null" >
        blood_suger = #{record.bloodSuger,jdbcType=DOUBLE},
      </if>
      <if test="record.ts != null" >
        ts = #{record.ts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update patient_blood_suger
    set id = #{record.id,jdbcType=INTEGER},
      blood_suger = #{record.bloodSuger,jdbcType=DOUBLE},
      ts = #{record.ts,jdbcType=TIMESTAMP},
      patient_id = #{record.patientId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxlk.centre.entity.PatientBloodSuger" >
    update patient_blood_suger
    <set >
      <if test="bloodSuger != null" >
        blood_suger = #{bloodSuger,jdbcType=DOUBLE},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxlk.centre.entity.PatientBloodSuger" >
    update patient_blood_suger
    set blood_suger = #{bloodSuger,jdbcType=DOUBLE},
      ts = #{ts,jdbcType=TIMESTAMP},
      patient_id = #{patientId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>